body {
    font-family: var(--main-font);
    color: var(--primery-text-color);
}
.list {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    list-style: none;
}
.link {
    text-decoration: none;
    font-style: normal;
    transition: var(--trans-for-link);

&:hover,
&:focus {
    color: var(--accent-color);
        }
}

.container {
    /* outline: 1px solid rgb(255, 223, 45); */
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}


